.UserLogin{
    padding-top: 5em;
    padding-bottom: 2em;
    color: black;
    background-color: rgb(0, 0, 0);
}
.Login{
    height: 100%;
    font-family:'Gill Sans';
    font-size: 1.045em;
    font-weight: 600;
}
.UserLog form{
    padding-top: 2em;
    padding-bottom: 3em;
}
.UserLog{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/events-bg.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
#LoginTitle{
    font-family: 'Gill Sans';
    text-align: center;
}
.inputBox1{
    display: flex;
    padding: 0em 20em;
    align-items: center;
}
.inputBox1 label{
    width: 10em;
    margin-left: 11em;
    color: white;
}
.inputBox1 input{
    border: 2px rgb(3, 4, 0) solid;
    border-radius: 10px;
    padding: 0.1em 0.8em;
    width: 18em;
    outline-color: #ffb03b;
    font-size: 1.045em;
    font-weight: 400;
}
.loginBtn2{
    text-align: center;
}
button{
    background: #ffb03b;
    color: white;
    border: 0px;
    padding: 0.4em 2em;
    border-radius: 150px;
    margin: 2em;
}
.registerBtn2{
    background: #ffb03b;
    color: white;
    border: 0px;
    padding: 0.4em 2em;
    border-radius: 150px;
    margin-left: 0.3em;
    text-decoration: none;
}
.classLoginBtn3{
    text-decoration: none;
    color: rgb(248, 137, 19);
}

.registerAsk{
    margin-top: 3em;
    color: white;
}
.ClassLogin{
    text-align: center;
}
.ClassLogin{
    margin-top: 3em;
    color: white;
}